<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      shishisal
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/home">Home</a>
    <a href="/players">players</a>
    <a href="/summeries">weekly's</a>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>

  </div>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/players">players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/summeries">weekly's</a>
      </li>
    </ul>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>

  </div>
</nav>
-->
