<%- include('./partials/nav.ejs')%>
<section class="about py-5" id="about">
    <div class="container">

      <div class="row">
        <div class="col-10 mx-auto col-md-6 my-5">
          <h1 class="text-capitalize">about <strong class="banner-title ">us</strong></h1>
          <p class="about_text text-uppercase font-weight-bold" style="color: blue; font-size: 40px;">we are Shishisal.<br> our leader is liron.<br> our game is trash.<br> our yaniv is bad.</p>

        </div>
        <div class="col-10 mx-auto col-md-6 align-self-center my-5">
          <div class="about-img__container">
            <img src="/public/about-img.JPG" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
