<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href= "/public/index.css" type="text/css"></link>
    <link rel="stylesheet" href= "/public/style.css" type="text/css"></link>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href= "/public/style.css" type="text/css"></link>

    <script src="https://kit.fontawesome.com/e03b10203f.js" crossorigin="anonymous"></script>
    <title>shishisal new app</title>
  </head>
  <body>
      <%- body %>

  </body>
</html>
